# BASICS

In [1]:
10+10

20

In [3]:
9-2

7

In [4]:
6*3

18

In [85]:
5/3

1.6666666666666667

In [86]:
5//3

1

In [87]:
 5%3

2

In [88]:
print((1+1)+(2*3)) #bodmas () / * + - GOOGLE COLAB

8

# VARIABLES

# Can not start with number or special characters

In [12]:
a=5

In [13]:
b=10

In [14]:
Sum=a+b

In [15]:
Sum

15

In [18]:
print(Sum)

15

# STRINGS

In [19]:
print('single quotes')

single quotes

In [95]:
"double quotes"

'double quotes'

In [96]:
" wrap lot's of other quotes"   # [] square [9,0,76]

" wrap lot's of other quotes"

# LIST

In [1]:
[1,2,3,{'key':1},{2,"j"}]

[1, 2, 3, {'key': 1}, {2, 'j'}]

In [2]:
['hi',1,[1,2]]

['hi', 1, [1, 2]]

In [3]:
my_list = ['a','b','c',"b"]

In [4]:
my_list.append('d')

In [5]:
my_list

['a', 'b', 'c', 'b', 'd']

In [6]:
my_list[0]

'a'

In [103]:
my_list[1]

'b'

In [104]:
my_list[1:]

['b', 'c', 'b', 'd']

In [105]:
my_list[:1]

['a']

In [106]:
my_list[0] = 'NEW'

In [107]:
my_list

['NEW', 'b', 'c', 'b', 'd']

In [108]:
nest = [1,2,3,[4,5,['target']]]

In [109]:
nest[3]

[4, 5, ['target']]

In [110]:
nest[3][2]

['target']

In [111]:
nest[3][2][0]

'target'

In [112]:
new_list=[1,2,'hi','hello',['innerlist_item1','innerlist_item2']]

In [113]:
new_list

[1, 2, 'hi', 'hello', ['innerlist_item1', 'innerlist_item2']]

In [7]:
dtype(new_list)

NameError: name 'dtype' is not defined

# TUPLES

In [114]:
t = (1,2,3)

In [115]:
t[0]

1

In [116]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [ ]:
new_tuple=(1,2,'hi','hello',['innertuple_item1','innertuple_item2'])

In [ ]:
new_tuple

In [ ]:
converted=list(new_tuple)

In [ ]:
converted

# Dictionaries

In [14]:
d = {2:'value1','key2':'value2'}

In [15]:
d

{2: 'value1', 'key2': 'value2'}

In [17]:
d[2]

'value1'

# SETS

In [ ]:
a={1,2,3}

In [ ]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

In [ ]:
a

# Comparison Operators

In [ ]:
True

In [ ]:
False

In [137]:
1 > 2

False

In [138]:
1 < 2

True

In [139]:
1 >= 1

True

In [140]:
1 <= 4

True

In [141]:
1 == 1

True

In [142]:
'hi' == 'bye'

False

# Logic Operators

In [143]:
(1 > 2) and (2 < 3)

False

In [144]:
(1 > 2) or (2 < 3)

True

In [145]:
(1 == 2) or (2 == 3) or (4 == 4)

True

# IF STATMENTS

In [27]:
if 2 < 2:
    print("yes ")
print("this is always printed")

this is always printed

In [117]:
if 1 < 2:
    print('yep!')

yep!

In [118]:
if 1 < 2:
    print('first')
else:
    print('last')

first

In [119]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [28]:
if 1 == 2:
    print('first')
elif 4 == 3:
    print('middle')
else:
    print('Last')

Last

# FOR LOOP

In [30]:
seq = [1,2,3,4,5]

In [31]:
for item in seq:
    print(item)
print("always printed")

1
2
3
4
5
always printed

In [123]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [124]:
for jelly in range(10):
    print(jelly+jelly)

0
2
4
6
8
10
12
14
16
18

In [125]:
range(10)

range(0, 10)

In [126]:
range(1,10)

range(1, 10)

In [127]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [32]:
for x in range(50):
    print("Welcome to my class")

Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class
Welcome to my class

# WHILE LOOP

# FUNCTION

In [1]:
def my_func(param1):
    print(param1)

In [2]:
my_func

In [3]:
my_func('Ml cls')

Ml cls

In [4]:
def square(x):
    return x**2

In [6]:
print(out)

10.240000000000002

# ALL THE BEST